.Green Sidebar2{
    background: #1A9F82;
    width:176px;
    height:35px;
    color:white;
    text-align: center;
}

.style2 {
    display: flex;
    justify-content: center;
}
.style2 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}