
.stylesad Sidebar1 {
    float: left;
    border: 1px solid #404040;
    background: #404040;
    color: #B0B1B7;
    width: 245px;
    height: 828px;
    font-size: 9px;
}
.style2 {
    display: flex;
    justify-content: center;
}
.style2 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}